[package]
name = "espup"
version = "0.2.5-dev"
authors = ["Sergio Gasquez Arcos <sergio.gasquez@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/esp-rs/espup"
description = """
Tool for installing and maintaining ESP Rust environment.
"""
keywords = ["esp", "esp-rs", "embedded", "cli", "xtensa"]
categories = ["command-line-utilities", "development-tools", "embedded"]
rust-version = "1.62"

[dependencies]
anyhow = "1.0.68"
clap = { version = "4.0.29", features = ["derive"] }
dirs = "4.0.0"
flate2 = "1.0.25"
guess_host_triple = "0.1.3"
reqwest = "0.11.12"
tar = "0.4.37"
zip = "0.6.3"
xz2 = "0.1.6"
console = "0.15.1"
tempfile = "3.3.0"
log = "0.4.17"
env_logger = "0.10.0"
embuild = { version = "0.31.0", features = ["espidf", "git"] }
strum = { version = "0.24", features = ["derive"] }
strum_macros = "0.24.3"
toml = "0.5.9"
directories-next = "2.0.0"
serde = { version = "1.0.151", features = ["derive"] }
miette = { version = "5.5.0", features = ["fancy"] }
regex = "1.7.0"
serde_json = "1.0.91"
thiserror = "1.0.38"
update-informer = "0.6.0"
tokio = { version = "1.21.2", features = ["full"] }
async-trait = "0.1.58"

[dev-dependencies]
assert_fs = "1.0.10"
assert_cmd = "2.0.6"

[target.aarch64-unknown-linux-gnu.dependencies]
openssl = { version = "0.10", features = ["vendored"] }

[target.x86_64-unknown-linux-gnu.dependencies]
openssl = { version = "0.10", features = ["vendored"] }

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-{ target }.{ archive-format }"
bin-dir = "{ bin }{ binary-ext }"
pkg-fmt = "zip"

[profile.release]
lto = "thin"
strip = true
